#modals #modal {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: 99;
}

#modals section.modal-pane {
  background-color: #F9F9F9;  
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 0 4px #000;
  -moz-box-shadow: 0 0 4px #000;
  box-shadow: 0 0 4px #000;
  color: #3B3B3B;
  left: 50%;
  padding: 18px 50px 10px;
  position: fixed;
  top: 50%;
  z-index: 100;
}

#modals section.modal-pane .close-button a {
  background-color: #000;  
/*  border: 2px solid white;*/
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  color: white;
  font-size: 24px;
  height: 28px;
  line-height: 21px;
  left: -13px;
  position: absolute;
  text-align: center;
  top: -13px;
  width: 28px;
}

#modals section.modal-pane .close-button a:hover {
  background-color: #262626;  
}

#modals section.modal-pane .close-button a:active {
  background-color: #000;  
  color: #BEBEBE;
}

#modals section#contact-us {
  height: 626px;
  margin-left: -205px;
  margin-top: -326px;
  width: 310px;
}

#modals section#local-meetup {
  height: 636px;
  margin-left: -205px;
  margin-top: -331px;
  width: 310px;
}