/* Reset
--------------------------------------------- */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
	list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Base
--------------------------------------------- */

html {
  min-height: 100%;
  overflow-y: scroll;
}

body {
  color: #444;
  font: 12px/1.5 "Helvetica Neue", Arial, sans-serif;
}

.green {
  background: #e8f4e3 url(../img/cross.png);
  background: url(../img/cross.png), -moz-linear-gradient(top, #72cb47, #e8f4e3 62%);
  background: url(../img/cross.png), -ms-linear-gradient(top, #72cb47, #e8f4e3 62%);
  background: url(../img/cross.png), -o-linear-gradient(top, #72cb47, #e8f4e3 62%);
  background: url(../img/cross.png), -webkit-gradient(linear, left top, left bottom, from(#72cb47), to(62%, #e8f4e3));
  background: url(../img/cross.png), -webkit-linear-gradient(top, #72cb47, #e8f4e3 62%);
  background: url(../img/cross.png), linear-gradient(top, #72cb47, #e8f4e3 62%);
}

.pink {
  background: #f4e3ed url(../img/cross.png);
  background: url(../img/cross.png), -moz-linear-gradient(top, #e52b6d, #f4e3ed 62%);
  background: url(../img/cross.png), -ms-linear-gradient(top, #e52b6d, #f4e3ed 62%);
  background: url(../img/cross.png), -o-linear-gradient(top, #e52b6d, #f4e3ed 62%);
  background: url(../img/cross.png), -webkit-gradient(linear, left top, left bottom, from(#e52b6d), to(62%, #f4e3ed));
  background: url(../img/cross.png), -webkit-linear-gradient(top, #e52b6d, #f4e3ed 62%);
  background: url(../img/cross.png), linear-gradient(top, #e52b6d, #f4e3ed 62%);
}

.blue {
  background: #e4f3ff url(../img/cross.png);
  background: url(../img/cross.png), -moz-linear-gradient(top, #3a9bee, #e4f3ff 62%);
  background: url(../img/cross.png), -ms-linear-gradient(top, #3a9bee, #e4f3ff 62%);
  background: url(../img/cross.png), -o-linear-gradient(top, #3a9bee, #e4f3ff 62%);
  background: url(../img/cross.png), -webkit-gradient(linear, left top, left bottom, from(#3a9bee), to(62%, #e4f3ff));
  background: url(../img/cross.png), -webkit-linear-gradient(top, #3a9bee, #e4f3ff 62%);
  background: url(../img/cross.png), linear-gradient(top, #3a9bee, #e4f3ff 62%);
}

.orange {
  background: #ffeedf url(../img/cross.png);
  background: url(../img/cross.png), -moz-linear-gradient(top, #f48e33, #ffeedf 62%);
  background: url(../img/cross.png), -ms-linear-gradient(top, #f48e33, #ffeedf 62%);
  background: url(../img/cross.png), -o-linear-gradient(top, #f48e33, #ffeedf 62%);
  background: url(../img/cross.png), -webkit-gradient(linear, left top, left bottom, from(#f48e33), to(62%, #ffeedf));
  background: url(../img/cross.png), -webkit-linear-gradient(top, #f48e33, #ffeedf 62%);
  background: url(../img/cross.png), linear-gradient(top, #f48e33, #ffeedf 62%);
}

.purple {
  background: #f6e7ff url(../img/cross.png);
  background: url(../img/cross.png), -moz-linear-gradient(top, #c387e9, #f6e7ff 62%);
  background: url(../img/cross.png), -ms-linear-gradient(top, #c387e9, #f6e7ff 62%);
  background: url(../img/cross.png), -o-linear-gradient(top, #c387e9, #f6e7ff 62%);
  background: url(../img/cross.png), -webkit-gradient(linear, left top, left bottom, from(#c387e9), to(62%, #f6e7ff));
  background: url(../img/cross.png), -webkit-linear-gradient(top, #c387e9, #f6e7ff 62%);
  background: url(../img/cross.png), linear-gradient(top, #c387e9, #f6e7ff 62%);
}

input,
textarea,
select,
button {
  font: 12px "Helvetica Neue", Arial, sans-serif;
}

a:link,
a:visited {
	text-decoration: none;
}

.green a:link,
.green a:visited {
	color: #73c44b;
}

.green a:hover {
	color: #559137;
}

.pink a:link,
.pink a:visited {
	color: #f26098;
}

.pink a:hover {
	color: #b34572;
}

.blue a:link,
.blue a:visited {
	color: #4098e1;
}

.blue a:hover {
	color: #3972a0;
}

.orange a:link,
.orange a:visited {
	color: #f38f42;
}

.orange a:hover {
	color: #b46a30;
}

.purple a:link,
.purple a:visited {
	color: #b36cea;
}

.purple a:hover {
	color: #745487;
}

pre,
code,
kbd,
samp {
  font-family: monospace, sans-serif;
}

pre {
  padding: 15px;
  color: #fff;
  background: #000;
  background: rgba(0, 0, 0, 0.75);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4), inset 0 1px 4px #000;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4), inset 0 1px 4px #000;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4), inset 0 1px 4px #000;
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.container {
  width: 960px;
  margin: 0 auto;
}

.button.primary {
  display: inline-block;
  padding: 9px 20px;
  border-width: 1px;
  border-style: solid;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.4);
  -moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.4);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.4);
}

.button.primary:active {
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.3);
  -moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.3);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.3);
}

.green .button.primary {
  border-color: #5a8942;
  color: #263d1b;
  background: #81cf60;
  background: -moz-linear-gradient(top, #94db7c, #90d674 50%, #81cf60 51%, #7dc957);
  background: -ms-linear-gradient(top, #94db7c, #90d674 50%, #81cf60 51%, #7dc957);
  background: -o-linear-gradient(top, #94db7c, #90d674 50%, #81cf60 51%, #7dc957);
  background: -webkit-gradient(linear, left top, left bottom, from(#94db7c), color-stop(50%, #90d674), color-stop(51%, #81cf60), to(#7dc957));
  background: -webkit-linear-gradient(top, #94db7c, #90d674 50%, #81cf60 51%, #7dc957);
  background: linear-gradient(top, #94db7c, #90d674 50%, #81cf60 51%, #7dc957);
}

.green .button.primary:hover {
  background: #85d66a;
  background: -moz-linear-gradient(top, #85d66a, #7dc957);
  background: -ms-linear-gradient(top, #85d66a, #7dc957);
  background: -o-linear-gradient(top, #85d66a, #7dc957);
  background: -webkit-gradient(linear, left top, left bottom, from(#85d66a), to(#7dc957));
  background: -webkit-linear-gradient(top, #85d66a, #7dc957);
  background: linear-gradient(top, #85d66a, #7dc957);
}

.green .button.primary:active {
  background: #7dc957;
  background: -moz-linear-gradient(top, #7dc957, #85d66a);
  background: -ms-linear-gradient(top, #7dc957, #85d66a);
  background: -o-linear-gradient(top, #7dc957, #85d66a);
  background: -webkit-gradient(linear, left top, left bottom, from(#7dc957), to(#85d66a));
  background: -webkit-linear-gradient(top, #7dc957, #85d66a);
  background: linear-gradient(top, #7dc957, #85d66a);
}

.pink .button.primary {
  border-color: #a75878;
  color: #6e2d48;
  background: #f88eb9;
  background: -moz-linear-gradient(top, #fbb7d2, #f99dc2 50%, #f88eb9 51%, #f571a6);
  background: -ms-linear-gradient(top, #fbb7d2, #f99dc2 50%, #f88eb9 51%, #f571a6);
  background: -o-linear-gradient(top, #fbb7d2, #f99dc2 50%, #f88eb9 51%, #f571a6);
  background: -webkit-gradient(linear, left top, left bottom, from(#fbb7d2), color-stop(50%, #f99dc2), color-stop(51%, #f88eb9), to(#f571a6));
  background: -webkit-linear-gradient(top, #fbb7d2, #f99dc2 50%, #f88eb9 51%, #f571a6);
  background: linear-gradient(top, #fbb7d2, #f99dc2 50%, #f88eb9 51%, #f571a6);
}

.pink .button.primary:hover {
  background: #fbadcc;
  background: -moz-linear-gradient(top, #fbadcc, #f571a6);
  background: -ms-linear-gradient(top, #fbadcc, #f571a6);
  background: -o-linear-gradient(top, #fbadcc, #f571a6);
  background: -webkit-gradient(linear, left top, left bottom, from(#fbadcc), to(#f571a6));
  background: -webkit-linear-gradient(top, #fbadcc, #f571a6);
  background: linear-gradient(top, #fbadcc, #f571a6);
}

.pink .button.primary:active {
  background: #f571a6;
  background: -moz-linear-gradient(top, #f571a6, #fbadcc);
  background: -ms-linear-gradient(top, #f571a6, #fbadcc);
  background: -o-linear-gradient(top, #f571a6, #fbadcc);
  background: -webkit-gradient(linear, left top, left bottom, from(#f571a6), to(#fbadcc));
  background: -webkit-linear-gradient(top, #f571a6, #fbadcc);
  background: linear-gradient(top, #f571a6, #fbadcc);
}

.blue .button.primary {
  border-color: #3e7fb4;
  color: #29404f;
  background: #73baf5;
  background: -moz-linear-gradient(top, #a2d5ff, #83c3f7 50%, #73baf5 51%, #51a6ec);
  background: -ms-linear-gradient(top, #a2d5ff, #83c3f7 50%, #73baf5 51%, #51a6ec);
  background: -o-linear-gradient(top, #a2d5ff, #83c3f7 50%, #73baf5 51%, #51a6ec);
  background: -webkit-gradient(linear, left top, left bottom, from(#a2d5ff), color-stop(50%, #83c3f7), color-stop(51%, #73baf5), to(#51a6ec));
  background: -webkit-linear-gradient(top, #a2d5ff, #83c3f7 50%, #73baf5 51%, #51a6ec);
  background: linear-gradient(top, #a2d5ff, #83c3f7 50%, #73baf5 51%, #51a6ec);
}

.blue .button.primary:hover {
  background: #97d0ff;
  background: -moz-linear-gradient(top, #97d0ff, #51a6ec);
  background: -ms-linear-gradient(top, #97d0ff, #51a6ec);
  background: -o-linear-gradient(top, #97d0ff, #51a6ec);
  background: -webkit-gradient(linear, left top, left bottom, from(#97d0ff), to(#51a6ec));
  background: -webkit-linear-gradient(top, #97d0ff, #51a6ec);
  background: linear-gradient(top, #97d0ff, #51a6ec);
}

.blue .button.primary:active {
  background: #51a6ec;
  background: -moz-linear-gradient(top, #51a6ec, #97d0ff);
  background: -ms-linear-gradient(top, #51a6ec, #97d0ff);
  background: -o-linear-gradient(top, #51a6ec, #97d0ff);
  background: -webkit-gradient(linear, left top, left bottom, from(#51a6ec), to(#97d0ff));
  background: -webkit-linear-gradient(top, #51a6ec, #97d0ff);
  background: linear-gradient(top, #51a6ec, #97d0ff);
}

.orange .button.primary {
  border-color: #c17b3a;
  color: #3d331b;
  background: #f5ad69;
  background: -moz-linear-gradient(top, #ffc793, #f6b87d 50%, #f5ad69 51%, #eb9c50);
  background: -ms-linear-gradient(top, #ffc793, #f6b87d 50%, #f5ad69 51%, #eb9c50);
  background: -o-linear-gradient(top, #ffc793, #f6b87d 50%, #f5ad69 51%, #eb9c50);
  background: -webkit-gradient(linear, left top, left bottom, from(#ffc793), color-stop(50%, #f6b87d), color-stop(51%, #f5ad69), to(#eb9c50));
  background: -webkit-linear-gradient(top, #ffc793, #f6b87d 50%, #f5ad69 51%, #eb9c50);
  background: linear-gradient(top, #ffc793, #f6b87d 50%, #f5ad69 51%, #eb9c50);
}

.orange .button.primary:hover {
  background: #ffbf84;
  background: -moz-linear-gradient(top, #ffbf84, #eb9c50);
  background: -ms-linear-gradient(top, #ffbf84, #eb9c50);
  background: -o-linear-gradient(top, #ffbf84, #eb9c50);
  background: -webkit-gradient(linear, left top, left bottom, from(#ffbf84), to(#eb9c50));
  background: -webkit-linear-gradient(top, #ffbf84, #eb9c50);
  background: linear-gradient(top, #ffbf84, #eb9c50);
}

.orange .button.primary:active {
  background: #eb9c50;
  background: -moz-linear-gradient(top, #eb9c50, #ffbf84);
  background: -ms-linear-gradient(top, #eb9c50, #ffbf84);
  background: -o-linear-gradient(top, #eb9c50, #ffbf84);
  background: -webkit-gradient(linear, left top, left bottom, from(#eb9c50), to(#ffbf84));
  background: -webkit-linear-gradient(top, #eb9c50, #ffbf84);
  background: linear-gradient(top, #eb9c50, #ffbf84);
}

.purple .button.primary {
  border-color: #9a69b7;
  color: #4a3258;
  background: #c994eb;
  background: -moz-linear-gradient(top, #e1b3ff, #d0a2ef 50%, #c994eb 51%, #b680d9);
  background: -ms-linear-gradient(top, #e1b3ff, #d0a2ef 50%, #c994eb 51%, #b680d9);
  background: -o-linear-gradient(top, #e1b3ff, #d0a2ef 50%, #c994eb 51%, #b680d9);
  background: -webkit-gradient(linear, left top, left bottom, from(#e1b3ff), color-stop(50%, #d0a2ef), color-stop(51%, #c994eb), to(#b680d9));
  background: -webkit-linear-gradient(top, #e1b3ff, #d0a2ef 50%, #c994eb 51%, #b680d9);
  background: linear-gradient(top, #e1b3ff, #d0a2ef 50%, #c994eb 51%, #b680d9);
}

.purple .button.primary:hover {
  background: #dda9ff;
  background: -moz-linear-gradient(top, #dda9ff, #b680d9);
  background: -ms-linear-gradient(top, #dda9ff, #b680d9);
  background: -o-linear-gradient(top, #dda9ff, #b680d9);
  background: -webkit-gradient(linear, left top, left bottom, from(#dda9ff), to(#b680d9));
  background: -webkit-linear-gradient(top, #dda9ff, #b680d9);
  background: linear-gradient(top, #dda9ff, #b680d9);
}

.purple .button.primary:active {
  background: #b680d9;
  background: -moz-linear-gradient(top, #b680d9, #dda9ff);
  background: -ms-linear-gradient(top, #b680d9, #dda9ff);
  background: -o-linear-gradient(top, #b680d9, #dda9ff);
  background: -webkit-gradient(linear, left top, left bottom, from(#b680d9), to(#dda9ff));
  background: -webkit-linear-gradient(top, #b680d9, #dda9ff);
  background: linear-gradient(top, #b680d9, #dda9ff);
}


/* Banner
--------------------------------------------- */

[role="banner"] {
  width: 100%;
  position: absolute;
  overflow: hidden;
  border-bottom: 1px solid #000; /* Find more suitable fallback color */
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  background: #000; /* Find more suitable fallback color */
  background: rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 1px 9px rgba(0, 0, 0, 0.3), inset 0 -1px 0 rgba(255, 255, 255, 0.2);
  -moz-box-shadow: 0 1px 9px rgba(0, 0, 0, 0.3), inset 0 -1px 0 rgba(255, 255, 255, 0.2);
  box-shadow: 0 1px 9px rgba(0, 0, 0, 0.3), inset 0 -1px 0 rgba(255, 255, 255, 0.2);
}

#logo,
[role="banner"] nav,
[role="banner"] form {
  float: left;
}

/* Logo */

#logo {
  margin-top: 11px;
}

/* Navigation */

[role="banner"] nav {
  width: 600px;
  text-align: center;
}

[role="banner"] nav li {
  display: inline-block;
  padding: 16px 15px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
}

[role="banner"] nav li.active {
  background: url(../img/glow.png) no-repeat 50% 0;
}

[role="banner"] nav li.disabled {
  opacity: 0.25;
}

[role="banner"] nav a:link,
[role="banner"] nav a:visited {
  color: #fff;
}

.green [role="banner"] nav a:hover,
.green [role="banner"] nav .active a {
  color: #beff9d;
}

.pink [role="banner"] nav a:hover,
.pink [role="banner"] nav .active a {
  color: #ffc2da;
}

.blue [role="banner"] nav a:hover,
.blue [role="banner"] nav .active a {
  color: #bae0ff;
}

.orange [role="banner"] nav a:hover,
.orange [role="banner"] nav .active a {
  color: #ffd8b4;
}

.purple [role="banner"] nav a:hover,
.purple [role="banner"] nav .active a {
  color: #ebcaff;
}

/* Search */

[role="banner"] input {
  width: 165px;
  height: 14px;
  margin-top: 13px;
  padding: 5px 8px 5px 27px;
  border: 0;
  color: #eee;
  background: #000 url(../img/search.png) no-repeat 8px 6px; /* Find more suitable fallback color */
  background: rgba(0, 0, 0, 0.19) url(../img/search.png) no-repeat 8px 6px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.24), inset 0 1px 6px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.24), inset 0 1px 6px rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.24), inset 0 1px 6px rgba(0, 0, 0, 0.5);
}

[role="banner"] input:focus {
  outline: 0;
  background-color: #000; /* Find more suitable fallback color */
  background-color: rgba(0, 0, 0, 0.07);
}


/* Home
--------------------------------------------- */

/* Blurb */

#home #blurb {
  width: 580px;
  float: left;
  margin-bottom: 44px;
  padding-top: 80px;
  color: #161616;
  font-weight: bold;
  font-size: 28px;
  line-height: 1.3;
  /*text-shadow: 0 0 3px rgba(255, 255, 255, 0.14);*/
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
}

/* Call to action */

#home #action {
  float: right;
  padding-top: 80px;
}

#home #action li:first-child {
  margin-bottom: 8px;
}

#home #action a {
  width: 142px;
}

/* Sections */

#home section {
  clear: both;
  margin-bottom: 44px;
  padding: 30px;
  border: 1px solid #000; /* Find more suitable fallback color */
  border: 1px solid rgba(0, 0, 0, 0.2);
  background: #fbfbfb;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 0 2px #fff;
  -moz-box-shadow: inset 0 0 2px #fff;
  box-shadow: inset 0 0 2px #fff;
}

#home section h1 {
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 20px;
}

#home section h2 {
  font-weight: bold;
  font-size: 14px;
}

/* Features */

#home #features {
  overflow: hidden;
}

#home #features li {
  width: 218px;
  float: left;
  padding-left: 58px;
}

#home #features li:nth-child(3n+2) {
  margin: 0 35px;
}

#home #features li:nth-child(-n+3) {
  margin-bottom: 15px;
}

#home #features li {
  background-repeat: no-repeat;
  background-position: 0 50%;
}

#home #features .html5 {
  background-image: url(../img/html5.png);
}

#home #features .mvc {
  background-image: url(../img/mvc.png);
}

#home #features .speed {
  background-image: url(../img/speed.png);
}

#home #features .device {
  background-image: url(../img/ipad.png);
}

#home #features .scale {
  background-image: url(../img/scale.png);
}

#home #features .theme {
  background-image: url(../img/theme.png);
}