#tabs nav li.active {
 /* border-color: transparent;
   background: transparent;*/
}

#tabs #clip {
  height: 1000px;
  overflow: hidden;
  position: relative;
}

#tabs #clip .clip-border {
  bottom: 0;
  position: absolute;
  width: 25px;
  top: 0;
  z-index: 1;
}

#tabs #clip #left {
  background-image: -moz-linear-gradient(left, white, rgba(255, 255, 255, 0));
  background-image: -ms-linear-gradient(left, white, rgba(255, 255, 255, 0));
  background-image: -o-linear-gradient(left, white, rgba(255, 255, 255, 0));
  background-image: -webkit-gradient(linear,  left center, right center, color-stop(0%, white), color-stop(100%, rgba(255, 255, 255, 0))); 
  background-image: -webkit-linear-gradient(left, white, rgba(255, 255, 255, 0));
  background-image: linear-gradient(left, white, rgba(255, 255, 255, 0));
  left: 0;
}

#tabs #clip #right {
  background-image: -moz-linear-gradient(right, white, rgba(255, 255, 255, 0));
  background-image: -ms-linear-gradient(right, white, rgba(255, 255, 255, 0));
  background-image: -o-linear-gradient(right, white, rgba(255, 255, 255, 0));
  background-image: -webkit-gradient(linear,  right center, left center, color-stop(0%, white), color-stop(100%, rgba(255, 255, 255, 0))); 
  background-image: -webkit-linear-gradient(right, white, rgba(255, 255, 255, 0));
  background-image: linear-gradient(right, white, rgba(255, 255, 255, 0));
  right: 0;
}

#tabs #panel {
  position: absolute;
}

#tabs #panel > section {
  margin: 0 30px;
  font-size: 14px;
  overflow: hidden;
  position: absolute;
  width: 900px;
}

#tabs #panel > section > h1 {
  margin: 25px 0 33px;
  font-weight: bold;
  font-size: 22px;
  text-align: center;
}

#tabs #panel > section > section {
  margin-bottom: 30px;
}

#tabs #panel > section > section:last-child {
  margin: 0;
}

#tabs #panel > section > section > h1,
#tabs #panel > section h2 {
  margin-bottom: 9px;
  font-weight: bold;
  font-size: 18px;
}