---
title: SproutCore - About
id: about
h1: About SproutCore
download: true
subnav:
  what-is-sproutcore: What is SproutCore
  whos-using-sproutcore: Who's Using SproutCore
  core-team: Core Team
  logos: Logos
---

<section id="what-is-sproutcore" class="visible">
  <h1>A JavaScript framework for writing powerful web applications with less code.</h1>
  <div id="slow">
    <p>SproutCore applications <strong>move business logic to the browser</strong> so they can respond to your users' taps and clicks immediately, avoiding an agonizing roundtrip across often intermittent network connections.</p>
    <p>As web application users go increasingly mobile, applications can no longer depend on reliable connections to a remote server to do the heavy lifting.</p>
    <p>At the same time, web browsers continue to radically improve their ability to quickly process data and deliver polished user interfaces&mdash;a perfect opportunity to rethink the architecture of modern web applications.</p>
  </div>
  <div id="fast">
    <p>Building web applications with traditional web development techniques is painful. Making sure your HTML is always up-to-date is challenging, and swapping information back and forth with your server can be error-prone.</p>
    <p>There <em>is</em> a better way. <strong>SproutCore's robust bindings system allows you to create data-centric applications</strong>. Just describe the state of your application and how the data flows from your models to your views and let SproutCore do the rest.</p>
    <p>Semantic templates allow you to write HTML and CSS that update automatically when your models change&mdash;like magic. And an in-memory database lets you intelligently manage and query your data and synchronize with your server.</p>
    <p>SproutCore will change the way you think about building applications and surprise you with how little code you have to write.</p>
  </div>
</section>
<section id="whos-using-sproutcore">
  <h1>The world’s most innovative apps are using SproutCore. Here are some examples.</h1>
  <div id="application-slider" class="large">
    <div id="left" class="clip-border"></div>
    <div id="right" class="clip-border"></div>
    <div class="panel active">
      <a href="http://eloqua.com/" target="app-slider">
        <img src="/img/showcase/eloqua-large.png" />
        <div class="caption">Eloqua</div>
      </a>
      <a href="https://chrome.google.com/webstore/detail/hkpcelemhneoooapbbopolpjhmbfmnbf" target="app-slider">
        <img src="/img/showcase/npr-large.png" />
        <div class="caption">NPR</div>
      </a>
      <a href="https://insightify.com/home.html" target="app-slider">
        <img src="/img/showcase/insightify-large.png" />
        <div class="caption">Insightify</div>
      </a>
      <a href="http://www.turnitin.com/" target="app-slider">
        <img src="/img/showcase/turnitin-large.png" />
        <div class="caption">Turnitin</div>
      </a>
    </div>
	</div>
  <br><br><br>
  <div class="button-center"><a href="" class="button secondary large" onclick="app.openModal($('#contact-us')); return false;"><span class="app">Submit Your Application</span></a>
  </div>
</section>
<section id="core-team">
  <h1>The best technologies are driven by great teams. Get acquainted with ours below.</h1>
  <ul class="shown">
      <!-- This list is auto-generated, see core_members.js -->
  </ul>
  <h2>Not Shown Above<br><br></h2>
  <ul class="not-shown">
    <li>
      <h2>Alex Iskander</h2>
      <i>San Francisco, CA, USA</i>
    </li>
    <li>
      <h2>Juan Pinzon</h2>
      <i>San Francisco, CA, USA</i>
    </li>
    <li>
      <h2>Majd Taby</h2>
      <i>San Francisco, CA, USA</i>
    </li>
    <li>
      <h2>Martin Ottenwaelter</h2>
      <i>Paris, France</i>
    </li>
  </ul>
</section>
<section id="logos">
  <h1>Show us some love by using our badges anywhere you use or support SproutCore.</h1>
  <ul>
    <li>
      <h2>Powered by SproutCore Badge</h2>
      <p>Use this badge in applications using SproutCore.</p>
      <img src="/img/logos/png/sc_powered_large_dark.png" alt="Powered by SproutCore - Dark" class="outdent" width="350" height="100" />
      <p class="links">Download PNG:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/img/logos/png/sc_powered_small_dark.png">142 x 38 (S)</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="img/logos/png/sc_powered_medium_dark.png">236 x 66 (M)</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="img/logos/png/sc_powered_large_dark.png">350 x 100 (L)</a></p>
      <img src="/img/logos/png/sc_powered_large_light.png" alt="Powered by SproutCore - Light"  class="outdent" width="350" height="100" />
      <p class="links">Download PNG:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/img/logos/png/sc_powered_small_light.png">142 x 38 (S)</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="img/logos/png/sc_powered_medium_light.png">236 x 66 (M)</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="img/logos/png/sc_powered_large_light.png">350 x 100 (L)</a></p>
    </li>
    <li>
      <h2>Designed for SproutCore Badge</h2>
      <p>Use on applications or websites relating to SproutCore.</p>
      <img src="/img/logos/png/sc_designed_large_dark.png" alt="Designed for SproutCore - Dark" class="outdent" width="350" height="100" />
      <p class="links">Download PNG:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/img/logos/png/sc_designed_small_dark.png">142 x 38 (S)</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="img/logos/png/sc_designed_medium_dark.png">236 x 66 (M)</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="img/logos/png/sc_designed_large_dark.png">350 x 100 (L)</a></p>
      <img src="/img/logos/png/sc_designed_large_light.png" alt="Designed for SproutCore - Light" class="outdent" width="350" height="100" />
      <p class="links">Download PNG:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/img/logos/png/sc_designed_small_light.png">142 x 38 (S)</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="img/logos/png/sc_designed_medium_light.png">236 x 66 (M)</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="img/logos/png/sc_designed_large_light.png">350 x 100 (L)</a></p>
    </li>
    <li>
      <h2>SproutCore Logo</h2>
      <p>The official SproutCore logo. <a href="http://www.typography.com/fonts/font_styles.php?itemID=200097&variantTypeID=&cpuCount=&productLineID=100008">Gotham by HF&J</a> not included.</p>
      <img src="/img/logos/png/sc_logo_large_grey.png" alt="SproutCore Logo" width="326" height="72" />
      <p class="links">Download PNG:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/img/logos/png/sc_logo_small.png">156 x 35 (S)</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="img/logos/png/sc_logo_medium.png">233 x 52 (M)</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="img/logos/png/sc_logo_large.png">326 x 72 (L)</a></p>
    </li>
    <li>
      <h2>SproutCore Icon</h2>
      <p>Shirts, mousepads, posters, use this wherever you want!.</p>
      <img src="/img/logos/png/sc_icon_89.png" alt="SproutCore Icon" width="84" height="89" />
      <p class="links">Download ZIP:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/img/logos/icons.zip">Icon Pack</a></p>
    </li>
  </ul>
  <div class="button-center"><a href="/img/logos/logos.zip" class="button secondary large"><span class="download-cloud">Download All Graphics</span></a></div>
</section>

<% modal 'core-member-modal' do %>
  <div id="core-member-modal-content">
    <!-- This will be replaced with the full-bio content -->
  </div>
<% end %>
