---
title: SproutCore - Install
id: docs
h1: Installing SproutCore
subnav:
  platforms: Platforms
---

<section>
  <h1>Installing SproutCore has never been easier!</h1>
  <section>
    <h1>SproutCore is supported by all major platforms.</h1>
    <p>While a compiled SproutCore app is pure JavaScript, HTML and CSS
    and can run in any modern browser, you'll still want to install our
    Build Tools to make things easier while creating your app. SproutCore
    runs on all major platforms, including Windows, Mac OS X, and Linux.</p>
  </section>
  <section>
    <h1>SproutCore on Windows</h1>
    <p>Install SproutCore on Windows with an easy one-click installer.
    <a href="/install_win/" class="button
        secondary">Install on Windows</a></p>
  </section>
  <section>
  <h1>SproutCore on Mac OS X</h1>
  <p>Install SproutCore on Mac with an easy Package installer. <a
    href="/install_mac/" class="button secondary">Install on Mac</a></p>
  </section>
  <section>
    <h1>SproutCore on Linux</h1>
    <p>Install SproutCore on Linux as a Ruby gem. <a
      href="/install_linux/" class="button secondary">Install on
      Linux</a></p>
  </section>
  <section>
    <h1>SproutCore on Other Platforms</h1>
    <p>While other platforms are not officially supported, you may be able to install SproutCore as a Ruby gem.
      <a href="/install_other/" class="button secondary">Learn More</a></p>
  </section>
</section>

<% content_for :javascript do %>
  <script type="text/javascript" charset="utf-8">
    if (window.location.href.match(/\?redirect=1$/)) {
      app.gotoInstall(app.detectPlatform(), false);
    }
  </script>
<% end %>