---
title: Search Results
id: search
h1: Search Results
download: true
subnav:
  results:
---
<script src="http://www.google.com/jsapi" type="text/javascript"></script>
    <script type="text/javascript">
  google.load('search', '1');

  /**
   * Extracts the users query from the URL.
   */
  function getQuery() {
    var url = '' + window.location;
    var queryStart = url.indexOf('?') + 1;
    if (queryStart > 0) {
      var parts = url.substr(queryStart).split('&');
      for (var i = 0; i < parts.length; i++) {
        if (parts[i].length > 2 && parts[i].substr(0, 2) == 'q=') {
          return decodeURIComponent(
              parts[i].split('=')[1].replace(/\+/g, ' '));
        }
      }
    }
    return '';
  }

  function onLoad() {
    // Create a custom search control that uses a CSE restricted to
    // code.google.com
    var customSearchControl = new google.search.CustomSearchControl(
        '010803036737098308835:zpz3rt7h_7y');

    var drawOptions = new google.search.DrawOptions();
    drawOptions.setAutoComplete(true);

    // Draw the control in content div
    customSearchControl.draw('results', drawOptions);

    // Run a query
    customSearchControl.execute(getQuery());
  };

  google.setOnLoadCallback(onLoad);
</script>

<section id="search-results" class="visible">
  <div id="results">Loading Results...</div>
  <link rel="stylesheet" href="http://www.google.com/cse/style/look/default.css" type="text/css" />
</section>

<% content_for :modals do %>

<% end %>
