<% render 'default' do %>
  <article role="main" class="container">
    <h1><%= @item[:h1] %>
    <% if @item[:download] %>
      <ul id="action">
        <li><a href="#" class="button primary" onclick="app.gotoInstall(); return false;"><span class="download">Install Sproutcore</span></a></li>
      </ul>
    <% end %>
    </h1>
    <div id="tabs">
      <%= render "subnav" %>
      <div id="clip">
        <div id="left" class="clip-border"></div>
        <div id="right" class="clip-border"></div>
        <div id="panel" style="display: none;">
        <%= yield %>
      </div>
      </div>
    </div>
    <div id="tabs-back"></div>
  </article>  
<% end %>
