
#modals {
  position: absolute; /* Ensure that modals don't screw up sticky footer */
  z-index: 100;
}

#modals section.modal-pane {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}

#modals section.modal-pane .modal-background {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}

#modals section.modal-pane .modal-content {
  background-color: #fbfbfb;  
	border: 1px solid #2a2a2a;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,.33);
  -moz-box-shadow: 0 0 10px rgba(0,0,0,.33);
  box-shadow: 0 0 10px rgba(0,0,0,.33);
  color: #3B3B3B;
  left: 50%;
  padding: 18px 50px 10px;
  position: fixed;
  top: 50%;
}

#modals section.modal-pane .modal-content .close-button a {
  background-color: #000;  
  border: 2px solid white;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
	-webkit-box-shadow: 0 1px 6px #000;
	-moz-box-shadow: 0 1px 6px #000;
	box-shadow: 0 1px 6px #000;
  color: white;
  font-size: 20px;
  height: 22px;
  line-height: 16px;
  left: -13px;
  position: absolute;
  text-align: center;
  top: -13px;
  width: 22px;
}

#modals section.modal-pane .modal-content .close-button a:hover {
  background-color: #262626;  
}

#modals section.modal-pane .modal-content .close-button a:active {
  background-color: #000;  
  color: #BEBEBE;
}

#modals section#contact-us .modal-content {
  height: 574px;
  margin-left: -207px;
  margin-top: -326px;
  width: 314px;
}

#modals section#local-meetup .modal-content {
  height: 636px;
  margin-left: -207px;
  margin-top: -331px;
  width: 314px;
}

#modals section#core-team-modal .modal-content {
  font-size: 14px;
  margin-left: -315px;
  margin-top: -140px;
  padding: 40px;
  width: 630px;
}